bumpPlotsp95/*
MostVariantGenes*
Batch*
*.results
comp4.3_tert8.ckcc.outlier_results/.RData
comp4.3_tert8.ckcc.outlier_results/.RDataTmp
comp4.3_tert8.ckcc.outlier_results/*
ckcc_rsem_genes_results/*
BadGraphs/*
TestCode/*
.Rproj.user
.RData
bumpPlots/*

